<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<beans>
    <bean>
        <id>dao</id>
        <class>ma.enset.ext.DaoImplVWeb</class>
    </bean>
    <bean>
        <id>metier</id>
        <class>ma.enset.metier.MetierImpl</class>
        <property>
            <name>Dao</name>
            <value>dao</value>
        </property>
    </bean>
</beans>