<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      layout:decorate="~{NavBar.html}">
<head>
    <meta charset="UTF-8">
    <title>Abonnements</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div  layout:fragment="content" class="m-5">
    <div class="container mt-2">
        <div class="card">
            <div class="card-header text-center"><h3>Liste des Abonnements</h3></div>
            <div class="card-body">
                <form METHOD="get" th:action="@{index}" class="text-end">
                    <input  style="text-align:center;border-radius:10px; width:200px; height: 40px" type="text" placeholder="Chercher Un client" name="keyWord" th:value="${keyWord}">
                    <button type="submit" class="btn btn-warning justify-content-lg-center" style="border-radius:25px;width: 40px;height: 40px"><i class="bi bi-search"></i></button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col"> ID</th>
                        <th class="col"> Type</th>
                        <th class="col"> Solde</th>
                        <th class="col"> Montant</th>
                        <th class="col"  sec:authorize="hasRole('ADMIN')"> Action </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="a:${abonnement}" scope="row">
                        <td th:text="${a.id}"></td>
                        <td th:text="${a.abonnement}"></td>
                        <td th:text="${a.solde}"></td>
                        <td th:text="${a.montant_Mensuel}"></td>
                        <td sec:authorize="hasRole('ADMIN')">
                            <a onclick="return confirm('Etes vous sure?')" class="btn btn-danger"
                               th:href="@{/admin/deleteAbonnement(id=${a.id},KeyWord=${keyWord})}"><i class="bi bi-trash"></i></a>
                            <a  class="btn btn-success" th:href="@{/admin/editAbonnement(id=${a.id},KeyWord=${keyWord},page=${currentPage})}"> <i class="bi bi-pencil"></i></a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:each="page,status:${pages}">
                            <a style="border-radius:25px;width: 40px;height: 40px"
                               th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                               th:text="${status.index}"
                               th:href="@{/abonnement/index(page=${status.index},KeyWord=${keyWord})}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>