<div class="container mt-2 justify-content-center">
  <ng-container *ngIf="customers | async as listCustomers; else failureOrLading">
    <div class="card">
      <div class="card-header">
        <h3>Customers</h3>
      </div>
      <div class="card-body" >
        <div *ngIf="searchformGroup">
          <form [formGroup]="searchformGroup" (ngSubmit)="handleSearchCustomer()">
            <div class="input-group">
               <label class="input-group-text">KeyWord </label>
               <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-primary "> <i class="bi bi-search"></i> </button>
            </div>
          </form>
        </div>
        <table class="table mt-4">
          <thead>
          <tr class="text-center">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customers | async">
            <td>{{customer.id}}</td>
            <td class="text-center">{{customer.name}}</td>
            <td class="text-center">{{customer.email}}</td>
            <td class="text-center">
              <button (click)="handleDeleteCustomer(customer)"  *ngIf="AdminRole" class="btn btn-danger m-2"><i class="bi bi-trash"></i></button>
              <button (click)="handleCustomerAccounts(customer)" class="btn btn-outline-primary m-2"><i class="bi bi-list"></i> Accounts</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-template #failureOrLading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger"> {{errorMessage}} </div>
    </ng-container>
    <ng-template #loading>
      Loading ....
    </ng-template>
  </ng-template>

</div>
