.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgba(0, 123, 255, 0.89);
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
