<section class="hero">
  <div class="hero-content">
    <h2>Bienvenue sur notre site bancaire</h2>
    <p>Gérez vos finances en toute sécurité</p>
    <a href="#" class="btn">Ouvrir un compte</a>
  </div>
</section>
<section class="features">
  <div class="feature">
    <div class="card">
      <img src="assets/Savings-cuate.svg" alt="Image de la carte" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Comptes bancaires</h3>
        <p class="card-text">Découvrez nos différents types de comptes adaptés à vos besoins.</p>
        <a href="#" class="btn">En savoir plus</a>
      </div>
    </div>
  </div>
  <div class="feature">
    <div class="card">
      <img src="assets/Online%20consulting-rafiki.svg" alt="Image de la carte" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Services en ligne</h3>
        <p class="card-text">Accédez à vos comptes, effectuez des virements et gérez vos finances en ligne.</p>
        <a href="#" class="btn">En savoir plus</a>
      </div>
    </div>
  </div>
  <div class="feature">
    <div class="card">
      <img src="assets/page-rafiki.svg" alt="Image de la carte" class="card-img">
      <div class="card-body">
        <h3 class="card-title">Prêts et crédits</h3>
        <p class="card-text">Demandez un prêt ou un crédit pour réaliser vos projets.</p>
        <a href="#" class="btn">En savoir plus</a>
      </div>
    </div>
  </div>
</section>
